[Desktop Entry]
Type=Application
Name=Revive
Comment=Life RPG Self-Improvement App
Exec=gnome-terminal -- /home/tarun/Games/Revive/run_revive.sh
Icon=utilities-terminal
Terminal=false
Categories=Development;
